<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="#" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <div class="list-inline mb-0 text-white">
                            Dev Team
                            <a href="#" class="text-secondary">Sign Out</a>
                        </div>
                        <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light m-b-10" data-toggle="dropdown" aria-expanded="false">Choose language 
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Portuguese</a></li>
                                        <li><a href="#">Vietnamese</a></li>
                                    </ul>
                                </div>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu clearfix">
                            <li class="has-submenu float-right">
                                <button onclick="location.href='index.html'" type="button" class="btn btn-light waves-effect waves-light m-t-10 m-b-10">DASHBOARD</button>
                            </li>                           
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper">
            <div class="container" >
                <div class="card-box m-t-40">
                    <div class="m-t-0 header-title px-2 m-l-10">
                        <span>ADD/EDIT</span>
                    </div>
                    <div class="clearfix py-3 px-2">
                        <div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditAdminUsers.html">
                                    <img src="assets/images/add_edit_icon/add_edit_users_block.png">
                                </a>
                                <h5 >USER(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditOfficeAgentSearch.html">
                                    <img src="assets/images/add_edit_icon/office_agent_block.png">
                                </a>
                                <h5 >OFFICE/AGENT(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditRepSearch.html">
                                    <img src="assets/images/add_edit_icon/reps_block.png">
                                </a>
                                <h5 >REP(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditHQSearch.html">
                                    <img src="assets/images/add_edit_icon/hq_block.png">
                                </a>
                                <h5 >HQ(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditChainSearch.html">
                                    <img src="assets/images/add_edit_icon/chain_block.png">
                                </a>
                                <h5 >CHAIN(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditBankProcessorSearch.html">
                                    <img src="assets/images/add_edit_icon/bank_block.png">
                                </a>
                                <h5 >BANK/PROCESSOR(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditPlatformSearch.html">
                                    <img src="assets/images/add_edit_icon/platform_block.png">
                                </a>
                                <h5 >PLATFORM(S)</h5>
                            </div>
                            <div class="text-center float-left m-l-10">
                                <a href="addEditSysPrinSearch.html">
                                    <img src="assets/images/add_edit_icon/sys_prin_block.png">
                                </a>
                                <h5 >SYS/PRIN(S)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="m-r-10">©2018 PCI Compliance. All rights reserved</div>
                    <div class="border-right"><a href="termsOfService.html" class="m-r-5">Terms Of Service</a></div>
                    <div class="border-right"><a href="termsConditions.html" class="m-l-5 m-r-5">ISO Terms & Conditions</a></div>
                    <div class="border-right"><a href="privacyPolicy.html" class="m-r-5 m-l-5">Privacy Policy</a></div>
                    <a href="help.html" class="m-l-5">Help</a>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <script>
            $(function() {
                $(".knob").knob();
                $('.circliful-chart').circliful();
            });
        </script>
    </body>
</html>