<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo"> 
                            <span class="logo-small"><img src="assets/images/logo_pci.png" style="width:120px; height: auto;"></span> 
                            <span class="logo-large"><img src="assets/images/logo_pci.png" style="width:150px; height: auto;"></span> 
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <ul class="list-inline float-right mb-0">
                            <li class="menu-item list-inline-item"> 
                                <!-- Mobile menu toggle--> 
                                <a class="navbar-toggle nav-link">
                                    <div class="lines"> <span></span> <span></span> <span></span> </div>
                                </a> 
                                    <!-- End mobile menu toggle--> 
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                            <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                            <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                      <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- All--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu clearfix">
                            <li>
                                <a><h4 class="m-0 text-uppercase">Add/Edit Rep</h4></a>
                            </li>
                            <li class="has-submenu float-right">
                                <button onclick="location.href='addEdit.html'" type="button" class="btn btn-light waves-effect waves-light m-t-10 m-b-10">ADD/EDIT</button>
                                <button onclick="location.href='index.html'" type="button" class="btn btn-light waves-effect waves-light m-t-10 m-b-10">DASHBOARD</button>
                            </li>                           
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper mb-5 mb-lg-4 pb-5 pb-lg-0">
            <form>
                <div class="container">
                    <div class="card mt-5">
                        <div class="card-header"><h4 class="text-uppercase m-0">Add/Edit Rep</h4></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="m-b-20">
                                        <h4 class="text-primary text-uppercase">Rep:</h4>
                                        <input type="text" parsley-trigger="change" required="" placeholder="*Business Name(DBA)" class="form-control">
                                        <input type="text" parsley-trigger="change" required="" placeholder="*Company Phone" class="form-control mt-3">
                                        <input type="email" required="" placeholder="*Company Contact Email" class="form-control mt-3">
                                    </div>
                                    <div>
                                        <h4 class="text-primary text-uppercase mt-4">Hierarchy:</h4>
                                        <select class="custom-select mb-3">
                                            <option selected="">OFFICE/AGENT</option>
                                            <option value="1">BestCard</option>
                                            <option value="2">MAC USA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div>
                                        <h4 class="text-uppercase text-primary">Account Info:</h4>
                                        <input type="text" placeholder="Account Number(DDA)" class="form-control">
                                        <input type="text" placeholder="Routing Number" class="form-control mt-3">
                                    </div>
                                    <div>
                                        <h4 class="text-primary text-uppercase mt-4">Location:</h4>
                                        <div class="m-t-5 m-b-20">
                                            <input type="text" class="form-control" parsley-trigger="change" required="" placeholder="*Street Line 1:">
                                            <input type="text" class="form-control mt-3" placeholder="Street Line 2:">
                                            <input type="text" class="form-control mt-3" parsley-trigger="change" required="" placeholder="*City">
                                            <input type="text" class="form-control mt-3" parsley-trigger="change" required="" placeholder="*Zip Code">
                                            <select class="custom-select mt-3">
                                                <option selected="">Country</option>
                                                <option value="1">USA</option>
                                                <option value="2">Belarus</option>
                                            </select>
                                            <select class="custom-select mt-3">
                                                <option selected="">State</option>
                                                <option value="1">Alabama</option>
                                                <option value="2">Alaska</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div>
                                        <h4 class="text-primary text-uppercase">Contact:</h4>
                                        <div class="m-t-5 m-b-20">
                                            <input type="text" class="form-control" required="" placeholder="*Contact Name">
                                            <input type="text" class="form-control mt-3" required="" placeholder="*Contact Phone">
                                            <input type="text" class="form-control mt-3" placeholder="Extension:">
                                            <input type="text" class="form-control mt-3" placeholder="Contact Phone 2">
                                            <input type="text" class="form-control mt-3" placeholder="Contact Email">
                                            <input type="text" class="form-control mt-3" placeholder="Contact Fax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-lg-end justify-content-between mt-3">
                        <div class="col-sm-12 col-md-4 col-lg-2 ml-lg-2">
                            <button type="button" class="btn btn-primary btn-custom btn-block waves-effect waves-light mt-2">Add/Edit User</button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2 ml-lg-2">
                            <button type="reset" class="btn btn-default btn-custom btn-block waves-effect waves-light mt-2">Cancel</button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2 ml-lg-2">
                            <button type="submit" class="btn btn-primary btn-custom btn-block waves-effect waves-light mt-2">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            

        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                        <a href="termsOfService.html" class="m-r-5">Terms Of Service</a>|
                        <a href="termsConditions.html" class="m-l-5 m-r-5">ISO Terms & Conditions</a>|
                        <a href="privacyPolicy.html" class="m-r-5 m-l-5">Privacy Policy</a>|
                        <a href="help.html" class="m-l-5">Help</a>
                    </div>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- Parsleyjs -->
        <script type="text/javascript" src="../plugins/parsleyjs/dist/parsley.min.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });
        </script>  
    </body>
</html>