<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        <link href="../plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../plugins/datatables/jQuery.dataTables.min.css" rel="stylesheet" type="text/css">
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../plugins/chartist/dist/chartist.min.css">
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <ul class="list-inline float-right mb-0">
                            <li class="menu-item list-inline-item"> 
                                <!-- Mobile menu toggle--> 
                                <a class="navbar-toggle nav-link">
                                    <div class="lines"> <span></span> <span></span> <span></span> </div>
                                </a> 
                                    <!-- End mobile menu toggle--> 
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                            <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                            <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                      <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- All--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                         <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="index.html"><i class="ti-home"></i>ISO Dashboard</a>
                            </li>

                            <li class="has-submenu">
                                <a href="addEdit.html">Add/Edit</a>
                            </li>

                            <li class="has-submenu">
                                <a href="communications.html">Comm List</a>
                            </li>

                            <li class="has-submenu">
                                <a href="isoDocuments.html">Docs</a>
                            </li>

                            <li class="has-submenu">
                                <a href="reportingType.html">Reports</a>
                            </li>

                            <li class="has-submenu">
                                <a href="scanDashboard.html">Scan Dashboard</a>
                            </li>
                            
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper">
            <form>
                <div class="container" >
                <div id="block" class="clearfix">
                <div class="row text-center d-flex justify-content-between">
                    <div class="col-6">
                        <canvas id="doughnutChart" class="m-t-20"></canvas> 
                    </div>
                    <div class="col-6">                   
                        <canvas id="myChart" class="m-t-20"></canvas>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="row d-flex align-items-center">
                        <span class="mx-3">MID Status:</span>
                        <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light w-lg disabled" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret">All</span>
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start">
                            <a class="dropdown-item" href="#">Enabled Only</a>
                            <a class="dropdown-item" href="#">Disabled Only</a>
                        </div>
                        <button type="button" class="btn btn-primary btn-custom waves-effect waves-light ml-4">Filter Gauges</button>
                    </div>
                </div>     
                <div class="card-box m-t-40">
                    <div class="m-t-0 header-title">
                        <span>Filter</span>
                    </div>
                    <div class="row">
                        <div class="col- mr-5">
                            <div>
                            <div class="m-2">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Office/Agent</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">BestCard</a>
                                    <a class="dropdown-item" href="#">MAC USA</a>
                                </div>
                            </div>
                            <div class="m-2">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">Rep
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">BestCard - IP76</a>
                                    <a class="dropdown-item" href="#">BestCard - MT76</a>
                                </div>
                            </div>
                            <div class="d-flex m-2">
                            <div>
                                <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light w-md" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">HQ</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Law Office of John Preston</a>
                                    <a class="dropdown-item" href="#">Parker Orthodontics</a>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light w-md m-l-10" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Chain</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Ace in the Hole Bail Bonds</a>
                                    <a class="dropdown-item" href="#">Advanced Communications</a>
                                    <a class="dropdown-item" href="#">Affordable Enterprises Inc.</a>
                                </div>
                            </div>
                            </div>
                            <div class="m-2">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Bank/Processor</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Electronic Merchant Systems (EMS)</a>
                                    <a class="dropdown-item" href="#">Evo/PowerPay</a>
                                    <a class="dropdown-item" href="#">First Data Merchant Services</a>
                                    <a class="dropdown-item" href="#">iPmt</a>
                                    <a class="dropdown-item" href="#">Vantiv</a>
                                </div>
                            </div>
                            <div class="m-2">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Platform</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                </div>
                            </div>
                            <div class="m-2">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Sys/Prin</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">02740</a>
                                    <a class="dropdown-item" href="#">02949</a>
                                    <a class="dropdown-item" href="#">03215</a>
                                    <a class="dropdown-item" href="#">03420</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-4 m-r-15">
                            <div class="m-t-10 m-l-5 header-title">
                                <span>Filter By:</span>
                            </div>
                            <div class="m-l-5">
                                <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Name">
                                <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Phone">
                                <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="MID">
                                <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Email">
                            </div>
                            <div class="m-t-20 m-l-5 header-title">
                                <span>By Date:</span>
                            </div>
                            <div class="m-l-5">
                                <input type="date" class="form-control m-b-10" id="datepicker" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="From">
                                <input type="date" class="form-control m-b-10" id="datepicker" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="To" name="date">
                            </div>
                            <div class="m-t-30 m-l-5">
                                <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-100">Show All</button>
                            </div>
                        </div>
                        <div class="col-4 m-l-15 d-flex flex-column justify-content-between">
                             <div class="m-t-10 m-l-5 header-title">
                                <span>Other:</span>
                            </div>
                            <div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio" value="option1" id="radio1" checked="checked">
                                    <label for="radio1">All Loaded</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio" value="option2" id="radio2">
                                    <label for="radio2">Non Registered</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio" value="option3" id="radio3">
                                    <label for="radio3">Registered</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio" value="option4" id="radio4">
                                    <label for="radio4">Disabled</label>
                                </div>
                            </div>
                            <div class="m-t-20 m-b-15">
                                <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Select One</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Compliant</a>
                                    <a class="dropdown-item" href="#">Not Compliant</a>
                                </div>
                            </div>
                            <div class="m-l-5">
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" name="radio_inline" value="option1" id="radio5">
                                    <label for="radio5">Saq</label>
                                </div>
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" name="radio_inline" value="option1" id="radio6">
                                    <label for="radio6">Scan</label>
                                </div>
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" name="radio_inline" value="option1" id="radio7" checked="checked">
                                    <label for="radio7">Both</label>
                                </div>
                        </div>
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">Show Disabled</label>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-100 m-t-20">Search</button>
                            <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-100 m-t-20">Clear Filter</button>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card-box table-bordered">
                    <div class="table-responsive">
                        <table id="datatable-editable" class="table text-center table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th>MID</th>
                                <th>Business Name</th>
                                <th>SAQ</th>
                                <th>Scan</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Registered</th>
                                <th>SAQ Compliance Date</th>
                                <th>SAQ Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="ion-checkmark-round text-success"></i></td>
                                <td>2/15/2018</td>
                                <td>520002763237</td>
                                <td>Cuong Quach</td>
                                <td><i class="ion-checkmark-round text-success"></i></td>
                                <td><i class="ion-checkmark-round text-success"></i></td>
                                <td>270-906-2316</td>
                                <td>chic6972@yahoo.com</td>
                                <td>Yes</td>
                                <td>2/15/2019</td>
                                <td>SAQ B-IP v3.2r1.1</td>
                            </tr>
                            <tr>
                                <td><i class="ion-close-round text-danger"></i></td>
                                <td>1/10/2017</td>
                                <td>520001616620</td>
                                <td>BLOOMINGTON COUNTRY CLUB GC</td>
                                <td><i class="ion-close-round text-danger"></i></td>
                                <td><i class="ion-close-round text-danger"></i></td>
                                <td>435-673-4687</td>
                                <td>Finance@swmlife.com</td>
                                <td>Yes</td>
                                <td></td>
                                <td>SAQ B-IP v3.2</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-end m-b-20">
                    <a href="#" class="btn btn-primary btn-custom waves-effect waves-light w-lg">Print</a>
                    <a href="#" class="btn btn-primary btn-custom waves-effect waves-light m-l-10 w-lg">Export</a>
                </div>
                </div>
            </form>
        </div>


        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                        <a href="termsOfService.html" class="m-r-5">Terms Of Service</a>|
                        <a href="termsConditions.html" class="m-l-5 m-r-5">ISO Terms & Conditions</a>|
                        <a href="privacyPolicy.html" class="m-r-5 m-l-5">Privacy Policy</a>|
                        <a href="help.html" class="m-l-5">Help</a>
                    </div>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!--DataTable-->
        <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="../plugins/datatables/buttons.bootstrap.min.js"></script>
        <!--Chartist Chart-->
        <script src="../plugins/chartist/dist/chartist.min.js"></script>
        <script src="assets/pages/jquery.chartist.init.js"></script>
        <!--Chart-->
        <script src="../plugins/chart.js/Chart.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <script>
            $(function() {
                $(".knob").knob();
                $('.circliful-chart').circliful();
            });
        </script>
        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
            labels: ["Total Compliant Scans", "Non Compliant Scans", "Not Started Scans"],
            datasets: [{
            label: 'Scan',
            data: [15, 21, 31],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)'
                ],
            borderWidth: 1
            }]
                },
            options: {
            responsive: true,
            scales: {
    xAxes: [{
      ticks: {
                max: 35,
                min: 0,
                stepSize: 5
            }
    }],
  }
            }
            });
    </script>
    <script type="text/javascript">
        var ctxD = document.getElementById("doughnutChart").getContext('2d');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: ["Total Compliant Scans", "Non Compliant Scans", "Not Started Scans"],
                datasets: [
                    {
                        data: [15, 21, 31],
                        backgroundColor: ['rgba(255,99,132,0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                        hoverBackgroundColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(75, 192, 192, 1)']
                    }
                ]
            },
            options: {
                responsive: true
            }    
        });
    </script>
    <script type="text/javascript">
           $(document).ready(function() {
            $('#datatable').DataTable({
                scrollX: 400,
                searching: false,
                info: false,
                lengthChange: false
            });
           }); 
        </script>
    </body>
</html>