<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="#" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <div class="list-inline mb-0 text-white">
                            Dev Team
                            <a href="#" class="tect-secondary">Sign Out</a>
                        </div>
                        <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light m-b-10" data-toggle="dropdown" aria-expanded="false">Choose language 
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Portuguese</a></li>
                                        <li><a href="#">Vietnamese</a></li>
                                    </ul>
                                </div>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a>HELP</a>
                            </li>                           
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper">
            <form>
                <div class="container" >
                <div class="card-box m-t-40">
                    <div class="m-t-0 px-3 header-title">
                        <span>Contact Us</span>
                    </div>
                    <div class="px-2 py-3">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="FirstName">
                                    <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="LastName">
                                    <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Email">
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <input type="text" class="form-control m-b-10" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Topic">
                                    <button type="button" class="btn waves-effect waves-light w-50 m-t-20">Upload Attachment</button>
                                </div>
                            </div>
                     </div>
                     <div class="row">
                        <div class="col">
                            <textarea class="w-100 form-control" rows="8">
                            </textarea>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="clearfix m-b-30">
                    <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-25 float-left">Back</button>
                    <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-25 float-right">Send Request</button>
                </div>
                </div>
            </form>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="m-r-10">©2018 PCI Compliance. All rights reserved</div>
                    <div class="border-right"><a href="termsOfService.html" class="m-r-5">Terms Of Service</a></div>
                    <div class="border-right"><a href="termsConditions.html" class="m-l-5 m-r-5">ISO Terms & Conditions</a></div>
                    <div class="border-right"><a href="privacyPolicy.html" class="m-r-5 m-l-5">Privacy Policy</a></div>
                    <a href="help.html" class="m-l-5">Help</a>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
    </body>
</html>