<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>PCI Compliance | We help you comply on your PCI - AdminDashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
            
                <!-- Plugins css-->
                <link href="../plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
                <link href="../plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
                <link href="../plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
                <link href="../plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
                <link href="../plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
                <link href="../plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
                <link href="../plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
                <link href="../plugins/switchery/switchery.min.css" rel="stylesheet" /> 
            
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <ul class="list-inline float-right mb-0">
                            <li class="menu-item list-inline-item"> 
                                <!-- Mobile menu toggle--> 
                                <a class="navbar-toggle nav-link">
                                    <div class="lines"> <span></span> <span></span> <span></span> </div>
                                </a> 
                                    <!-- End mobile menu toggle--> 
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                            <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                            <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                      <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- All--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu text-uppercase">
                            <li class="has-submenu">
                                <a href="index.html"><i class="ti-home"></i>ISO Dashboard</a>
                            </li>

                            <li class="has-submenu">
                                <a href="addEdit.html"><i class="ti-pencil"></i>Add/Edit</a>
                            </li>

                            <li class="has-submenu">
                                <a href="communications.html"><i class="ti-comments"></i>Comm List</a>
                            </li>

                            <li class="has-submenu">
                                <a href="isoDocuments.html"><i class="ti-briefcase"></i>Docs</a>
                            </li>

                            <li class="has-submenu">
                                <a href="reportingType.html"><i class="ti-clipboard"></i>Reports</a>
                            </li>

                            <li class="has-submenu">
                                <a href="scanDashboard.html"><i class="ti-harddrive"></i>Scan Dashboard</a>
                            </li>
                            
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper">
            <div class="container-fluid">
                <form>
                    <div class="row text-uppercase">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group pull-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                    <!--li class="breadcrumb-item"><a href="#">Minton</a></li-->
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h3 class="page-title">Admin Dashboard <i class="ti-bar-chart"></i></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="22%" data-width="5" data-fontsize="14" data-percent="22" data-fgcolor="#3bafda" data-bgcolor="#505A66" ></div>
                                <h3 class="text-primary counter m-t-10">1241</h3>
                                <p class="text-muted text-nowrap m-b-10">COMPLIANT SAQ's</p>
                            </div>
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="85%" data-width="5" data-fontsize="14" data-percent="85" data-fgcolor="#3bafda" data-bgcolor="#505A66"></div>
                                <h3 class="text-primary counter m-t-10">10887</h3>
                                <p class="text-muted text-nowrap m-b-10">COMPLIANT SCANS</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget-simple-chart text-center card-box">
                                <div class="circliful-chart circliful" data-dimension="240" data-text="35%" data-width="15" data-fontsize="45" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#505A66"></canvas></div>
                                <h1 class="text-success counter m-t-10 display-1">2107</h1>
                                <p class="text-muted text-nowrap m-b-10 p-b-10 display-4">OVERALL COMPLIANT</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="78%" data-width="5" data-fontsize="14" data-percent="78" data-fgcolor="#f76397" data-bgcolor="#505A66" ></canvas></div>
                                <h3 class="text-pink m-t-10"><span class="counter">4401</span></h3>
                                <p class="text-muted text-nowrap m-b-10">NON COMPLIANT SAQ'S</p>
                            </div>
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="15%" data-width="5" data-fontsize="14" data-percent="15" data-fgcolor="#f76397" data-bgcolor="#505A66" ></canvas>
                                </div>
                                <h3 class="text-pink m-t-10"><span class="counter">1921</span></h3>
                                <p class="text-muted text-nowrap m-b-10">NON COMPLIANT SCANS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="11%" data-width="5" data-fontsize="14" data-percent="11" data-fgcolor="#3bafda" data-bgcolor="#505A66" ></canvas></div>
                                <h3 class="text-primary counter m-t-10">661</h3>
                                <p class="text-muted text-nowrap m-b-10">SCAN MERCHANTS</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="65%" data-width="5" data-fontsize="14" data-percent="65" data-fgcolor="#98a6ad" data-bgcolor="#505A66" ></canvas></div>
                                <h3 class="text-muted counter m-t-10">3901</h3>
                                <p class="text-muted text-nowrap m-b-10">OVERALL NON COMPLIANT</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="widget-simple-chart text-right card-box">
                                <div class="circliful-chart circliful" data-dimension="90" data-text="52%" data-width="5" data-fontsize="14" data-percent="52" data-fgcolor="#f76397" data-bgcolor="#505A66" ></div>
                                <h3 class="text-pink m-t-10"><span class="counter">3124</span></h3>
                                <p class="text-muted text-nowrap m-b-10">NON RESPONSIVE</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="page-title text-uppercase">Totals <i class="ti-layers-alt"></i></h4>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="text-center card-box">
                                <h2 class="text-muted counter m-t-10">8500</h2>
                                <p class="text-muted text-nowrap m-b-10">USERS</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="text-center card-box">
                                <h2 class="text-muted counter m-t-10">5171</h2>
                                <p class="text-muted text-nowrap m-b-10">SAQ'S</p>
                            </div>
                        </div>
                          <div class="col-lg-2">
                            <div class="text-center card-box">
                              <h2 class="text-muted counter m-t-10">11741</h2>
                              <p class="text-muted text-nowrap m-b-10">SCANS</p>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="text-center card-box">
                              <h2 class="text-muted counter m-t-10">5507</h2>
                              <p class="text-muted text-nowrap m-b-10">MERCHANTS ALL</p>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="text-center card-box">
                              <h2 class="text-muted counter m-t-10">2530</h2>
                              <p class="text-muted text-nowrap m-b-10">REGISTERED</p>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="text-center card-box">
                              <h2 class="text-muted counter m-t-10">2977</h2>
                              <p class="text-muted text-nowrap m-b-10">NOT REGISTERED</p>
                            </div>
                          </div>
                        </div>
                    <!-- <div class="m-t-15">
                        <button type="button" id="button-gauges" class="btn btn-outline-light waves-effect btn-sm" data-toggle="collapse" data-target="#block"
                        onclick="changeText(this, 'Hide Gauges', 'Show Gauges');">Hide Gauges</button>
                        <button type="button" id="button-options" class="btn btn-outline-light waves-effect btn-sm" data-toggle="collapse" data-target="#options"
                        onclick="changeText(this, 'Show Options', 'Hide Options')">Show Options</button>
                    </div>
                    <div id="block" class="collapse show">
                        <div class="row text-center d-flex justify-content-between">        
                            <div class="col text-left">
                                <a href="chart.html">
                                    <div class="chart easy-pie-chart-3" data-percent="3">
                                        <span class="percent"></span>
                                        <div>Compliant Saq's</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="25">
                                    <span class="percent"></span>
                                    <div>Compliant Scans</div>
                                </div>
                            </div> 
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="93">
                                    <span class="percent"></span>
                                    <div>Non Responsive</div>
                                </div>
                            </div> 
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="3">
                                    <span class="percent"></span>
                                    <div>Overall Compliant</div>
                                </div>
                            </div> 
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="97">
                                    <span class="percent"></span>
                                    <div>Overall Non Compliant</div>
                                </div>
                            </div> 
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="1">
                                    <span class="percent"></span>
                                    <div>Scan Merchants</div>
                                </div>
                            </div> 
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="75">
                                    <span class="percent"></span>
                                    <div>Non Compliant Scans</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart easy-pie-chart-3" data-percent="97">
                                    <span class="percent"></span>
                                    <div>Non Compliant Saq's</div>
                                </div>
                            </div> 
                        </div>
                        <div class="row text-center d-flex justify-content-between">
                            <div class="col m-l-30 m-t-40">
                                <a href="hierarchySearchEditUser.html"><button type="button" class="btn btn-light btn-block waves-effect">3847</button></a>
                                <div>Users</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="chart10.html"><button type="button" class="btn btn-light btn-block  waves-effect">63</button></a>
                                <div>Scan</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">260</button></a>
                                <div>SAQ's</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">267</button></a>
                                <div>Registered</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">300</button></a>
                                <div>Disabled</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">16</button></a>
                                <div>Compliant Scan</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">139</button></a>
                                <div>Compliant SAQ</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">3571</button></a>
                                <div>Not Registered</div>
                            </div>
                            <div class="col m-l-30 m-t-40">
                                <a href="#"><button type="button" class="btn btn-light btn-block  waves-effect">3838</button></a>
                                <div>Merchants All</div>
                            </div>
                        </div>
                        <div id="options" class="collapse">
                            <div class="row d-flex align-items-center">
                                <span class="mx-3">MID Status:</span>
                                <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light w-lg" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">All</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Enabled Only</a>
                                    <a class="dropdown-item" href="#">Disabled Only</a>
                                </div>
                                <button type="button" class="btn btn-primary btn-custom waves-effect waves-light ml-4">Filter Gauges</button>
                            </div>
                        </div>
                    </div> -->
                    <h4 class="page-title text-uppercase">FILTER BY <i class="ti-filter"></i></h4>
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-12 col-lg-3">
                                <div class="card-box">
                                    <select class="custom-select mt-3">
                                        <option selected="">OFFICE/AGENT</option>
                                        <option value="1">BestCard</option>
                                        <option value="2">MAC USA</option>
                                    </select>
                                    <select class="custom-select mt-3">
                                        <option selected="">REP</option>
                                        <option value="1">BestCard - IP76</option>
                                        <option value="2">BestCard - MT76</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <select class="custom-select mt-3">
                                                <option selected="">HQ</option>
                                                <option value="1">Law Office of John Preston</option>
                                                <option value="2">Parker Orthodontics</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <select class="custom-select mt-3">
                                                <option selected="">CHAIN</option>
                                                <option value="1">Ace in the Hole Bail Bonds</option>
                                                <option value="2">Advanced Communications</option>
                                                <option value="3">Affordable Enterprises Inc.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <select class="custom-select mt-3">
                                        <option selected="">BANK/PROCESSOR</option>
                                        <option value="1">Electronic Merchant Systems (EMS)</option>
                                        <option value="2">Evo/PowerPay</option>
                                        <option value="3">First Data Merchant Services</option>
                                        <option value="4">iPmt</option>
                                        <option value="5">Vantiv</option>
                                    </select>
                                    <select class="custom-select mt-3">
                                        <option selected="">PLATFORM</option>
                                    </select>
                                    <select class="custom-select mt-3">
                                        <option selected="">SYS/PRIN</option>
                                        <option value="1">02740</option>
                                        <option value="2">02949</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-lg-1 align-items-center">
                                <span class="badge badge-pill badge-warning">
                                    <h3 class="p-1">AND/OR</h3>
                                </span>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <h4 class="text-uppercase">Filter By:</h4>
                                <input type="text" class="form-control mt-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Name">
                                <input type="text" class="form-control mt-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Phone">
                                <input type="text" class="form-control mt-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="MID">
                                <input type="text" class="form-control mt-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Email">
                                <h4 class="text-uppercase mt-4">By Date:</h4 >
                                <div class="input-daterange input-group" id="date-range">
                                    <input class="form-control" name="start" type="text" placeholder="From">
                                    <input class="form-control" name="start" type="text" placeholder="To">
                                </div>
                                <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-lg mt-4 mb-3">Show All</button>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <h4 class="text-uppercase">Other:</h4>
                                <div class="radio radio-primary mt-2">
                                    <input type="radio" name="radio" value="option1" id="radio1" checked="checked">
                                    <label class="text-uppercase" for="radio1">All Loaded</label>
                                </div>
                                <div class="radio radio-primary mt-2">
                                    <input type="radio" name="radio" value="option2" id="radio2">
                                    <label class="text-uppercase" for="radio2">Non Registered</label>
                                </div>
                                <div class="radio radio-primary mt-2">
                                    <input type="radio" name="radio" value="option3" id="radio3">
                                    <label class="text-uppercase" for="radio3">Registered</label>
                                </div>
                                <div class="radio radio-primary mt-2">
                                    <input type="radio" name="radio" value="option4" id="radio4">
                                    <label class="text-uppercase" for="radio4">Disabled</label>
                                </div>
                                <select class="custom-select mt-2">
                                    <option>SELECT ONE</option>
                                    <option>Compliant</option>
                                    <option>Not Compliant</option>
                                </select>
                                <div class="mt-3 m-l-5">
                                    <div class="radio radio-primary form-check-inline mr-4">
                                        <input type="radio" name="radio_inline" value="option1" id="radio5">
                                        <label class="text-uppercase" for="radio5">Saq</label>
                                    </div>
                                    <div class="radio radio-primary form-check-inline mr-4">
                                        <input type="radio" name="radio_inline" value="option1" id="radio6">
                                        <label class="text-uppercase" for="radio6">Scan</label>
                                    </div>
                                    <div class="radio radio-primary form-check-inline mr-4">
                                        <input type="radio" name="radio_inline" value="option1" id="radio7" checked="checked">
                                        <label class="text-uppercase" for="radio7">Both</label>
                                    </div>
                                </div>
                                <div class="checkbox checkbox-primary mt-2">
                                    <input type="checkbox" id="checkbox1">
                                    <label class="text-uppercase" for="checkbox1">Show Disabled</label>
                                </div>
                                <div class="mt-5">
                                    <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-lg mt-1">Search</button>
                                    <button type="button" class="btn btn-secondary btn-custom waves-effect waves-light w-lg mt-1">Clear Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 justify-content-end">
                        <div class="col-sm-12 col-lg-3">
                            <a href="uploadMerchant.html" class="btn btn-primary btn-custom btn-block waves-effect waves-light mr-3 mt-2">Upload Merchant</a>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <a href="uploadMerchant.html" class="btn btn-primary btn-custom btn-block waves-effect waves-light mr-3 mt-2">Manually Add Merchant</a>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <a href="uploadMerchant.html" class="btn btn-primary btn-custom btn-block waves-effect waves-light mr-3 mt-2">Add/Edit HQ</a>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <a href="uploadMerchant.html" class="btn btn-primary btn-custom btn-block waves-effect waves-light mr-3 mt-2">Add/Edit HQ</a>
                        </div>
                    </div>
                </form>
                <div class="w-100"></div>
                <div class="card-box table-bordered">
                    <div class="table-responsive">
                        <table id="datatable-editable" class="table text-center table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Level</th>
                                <th>Owner</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Last Logged In</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="dropdown">
                                <td>ISO</td>
                                <td>Mersatech</td>
                                <td>b.trombley@mersatech.com</td>
                                <td>b.trombley@mersatech.com</td>
                                <td class="actions">
                                    <a href="#" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                    <a href="#" class="on-default text-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset Password"><i class="mdi mdi-lock-reset"></i></a>
                                </td>
                                <td>6/27/2017 12:45:32 PM</td>
                            </tr>
                            <tr>
                                <td>ISO</td>
                                <td>Mersatech</td>
                                <td>Devteam</td>
                                <td>Sergei@pcicompliancellc.com</td>
                                <td class="actions">
                                    <a href="#" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                    <a href="#" class="on-default text-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset Password"><i class="mdi mdi-lock-reset"></i></a>
                                </td>
                                <td>3/9/2018 2:35:18 AM</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-end m-b-20">
                    <div class="col-6 col-sm-6 col-lg-1">
                        <button type="button" class="btn btn-primary btn-block btn-custom waves-effect waves-light mt-1">Print</button>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-1">
                        <button type="button" class="btn btn-primary btn-block btn-custom waves-effect waves-light mt-1">Export</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                        <a href="termsOfService.html" class="mx-2">Terms Of Service</a>|
                        <a href="termsConditions.html" class="mx-2">ISO Terms & Conditions</a>|
                        <a href="privacyPolicy.html" class="mx-2">Privacy Policy</a>|
                        <a href="help.html" class="mx-2">Help</a>
                    </div>
                </div>
            </div>         
        </footer>
                <!-- jQuery  --> 
                <script src="assets/js/jquery.min.js"></script> 
                <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap --> 
                <script src="assets/js/bootstrap.min.js"></script> 
                <script src="assets/js/waves.js"></script> 
                <script src="assets/js/jquery.slimscroll.js"></script> 
                <script src="assets/js/jquery.scrollTo.min.js"></script> 

                <!-- Counter Up  --> 
                <script src="../plugins/waypoints/lib/jquery.waypoints.min.js"></script> 
                <script src="../plugins/counterup/jquery.counterup.min.js"></script> 

                <!-- circliful Chart --> 
                <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script> 
                <script src="../plugins/jquery-sparkline/jquery.sparkline.min.js"></script> 

                        <script src="../plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
                        <script src="../plugins/switchery/switchery.min.js"></script>
                        <script type="text/javascript" src="../plugins/multiselect/js/jquery.multi-select.js"></script>
                        <script type="text/javascript" src="../plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
                        <script src="../plugins/select2/js/select2.min.js" type="text/javascript"></script>
                        <script src="../plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
                        <script src="../plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>

                        <script src="../plugins/moment/moment.js"></script>
                        <script src="../plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
                        <script src="../plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script src="../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

                        <script src="assets/pages/jquery.form-advanced.init.js"></script>   
                    
                    
                <!-- Page js  --> 
                <script src="assets/pages/jquery.dashboard.js"></script> 

                <!-- Custom main Js --> 
                <script src="assets/js/jquery.core.js"></script> 
                <script src="assets/js/jquery.app.js"></script> 
                <script src="../plugins/switchery/switchery.min.js"></script>   

        <!--DataTable-->
        <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../plugins/datatables/dataTables.bootstrap.js"></script>
        <script type="text/javascript">
            function changeText(obj, mess1, mess2) {
                obj.textContent == mess1 ? obj.textContent = mess2 : obj.textContent = mess1
            }
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                $('.circliful-chart').circliful();
            });
        </script>
        <script type="text/javascript">
           $(document).ready(function() {
            $('#datatable').DataTable({
                scrollX: 400,
                searching: false,
                info: false,
                lengthChange: false
            });
           }); 
        </script>
    </body>
</html>