<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PCI Compliance | We help you comply on your PCI - AdminDashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        
    <!-- Plugins css-->
    <link href="../plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="../plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="../plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
    <link href="../plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="../plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../plugins/switchery/switchery.min.css" rel="stylesheet" /> 
        
    <script src="assets/js/modernizr.min.js"></script>
    </head>
<body>
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo m-t-5">
                    <!-- Text Logo -->
                    <a href="index.html" class="logo">
                        <span class="logo-large">Mersa Tech</span>
                    </a>
                </div>
                <!-- End Logo container-->
                <div class="menu-extras topbar-custom float-right">
                    <ul class="list-inline float-right mb-0">
                        <li class="menu-item list-inline-item"> 
                            <!-- Mobile menu toggle--> 
                            <a class="navbar-toggle nav-link">
                                <div class="lines"> <span></span> <span></span> <span></span> </div>
                            </a> 
                                <!-- End mobile menu toggle--> 
                        </li>
                        <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                </div>
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                        <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                </a> 
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                        <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                </a> 
                                  
                                  <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                </a> 
                                  
                                <!-- All--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                            </div>
                        </li>
                        <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                </div>
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                  
                                <!-- item--> 
                                <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end menu-extras -->
                <div class="clearfix"></div>
            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu text-uppercase">
                        <li class="has-submenu">
                            <a><h4 class="page-title m-0">Merchant Dashboard</h4></a>
                        </li>                        
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
        <form>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="row text-uppercase">
                            <div class="col-12">
                                <h4>Required</h4>
                                <div class="card-box">
                                    <div class="list-group">
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-pencil"></i>
                                            <span class="text-primary mx-2">Step 1</span>
                                            Electronic Signature
                                        </a>
                                        <a class="list-group-item list-group-item-action">
                                            <i class="mdi mdi-message"></i>
                                            <span class="text-primary mx-2">Step 2</span>
                                            SAQ P2PE-HW V3.2r1.1
                                        </a>
                                        <a class="list-group-item list-group-item-action">
                                            <i class="mdi mdi-message-text"></i>
                                            <span class="mx-2">Annual SAQ Validation</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-uppercase">
                            <div class="col-12">
                                <h4>Options</h4>
                                <div class="card-box">
                                    <div class="list-group">
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-email-open mr-2"></i>Verify Email
                                            <i class="mdi mdi-check-circle-outline float-right text-success"></i></a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-settings mr-2"></i>Merchant Overview</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-account-multiple mr-2"></i>Manage Users</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-lan mr-2"></i>Change SAQ Type</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-download mr-2"></i>Downloads</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-file-document mr-2"></i>Notes/Teckets/Documents</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-shield-half-full mr-2"></i>PCI Max With Breach Protection
                                            <div class="float-right">Click For Policy<i class="mdi mdi-check-circle-outline text-success pl-2"></i>
                                            </div></a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-shield-half-full mr-2"></i>Submit a Breach Claim</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light">
                                            <i class="mdi mdi-shield-half-full mr-2"></i>Submit a Chargeback Claim</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="row text-uppercase">
                            <div class="col-12">
                                <h4>Quick Links</h4>
                                    <div class="card-box">
                                        <div class="list-group cursor-pointer">
                                            <a class="list-group-item list-group-item-action cursor-pointer"><i class="ti-help-alt"></i> FAQS</a>
                                            <a class="list-group-item list-group-item-action"><i class="mdi mdi-comment-text"></i> Help/Contact Us</a>
                                            <a class="list-group-item list-group-item-action"><i class="ti-layout-grid2"></i> Policy Template</a>
                                            <a class="list-group-item list-group-item-action"><i class="mdi mdi-note-multiple"></i> Reference Library</a>
                                            <a class="list-group-item list-group-item-action"><i class="mdi mdi-note-multiple"></i> Tutorial</a>
                                            <a class="list-group-item list-group-item-action"><i class="mdi mdi-note-multiple"></i> Employee Policies</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row text-uppercase">
                            <div class="col-12">
                                <h4>Overall Compliance</h4>
                                <div class="card-box">
                                    <div class="circliful-chart circliful" data-dimension="277" data-text="100%" data-width="25" data-fontsize="20" data-percent="100" data-fgcolor="#3bafda" data-bgcolor="#505A66" ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>        
    </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                    <a href="termsOfService.html" class="mx-2">Terms Of Service</a>|
                    <a href="privacyPolicy.html" class="mx-2">Privacy Policy</a>|
                    <a href="help.html" class="mx-2">Help</a>
                </div>
            </div>
        </div>         
    </footer>

    <!-- jQuery  --> 
    <script src="assets/js/jquery.min.js"></script> 
    <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap --> 
    <script src="assets/js/bootstrap.min.js"></script> 
    <script src="assets/js/waves.js"></script> 
    <script src="assets/js/jquery.slimscroll.js"></script> 
    <script src="assets/js/jquery.scrollTo.min.js"></script> 

    <!-- Counter Up  --> 
    <script src="../plugins/waypoints/lib/jquery.waypoints.min.js"></script> 
    <script src="../plugins/counterup/jquery.counterup.min.js"></script> 

    <!-- circliful Chart --> 
    <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script> 
    <script src="../plugins/jquery-sparkline/jquery.sparkline.min.js"></script> 

    <script src="../plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="../plugins/switchery/switchery.min.js"></script>
    <script type="text/javascript" src="../plugins/multiselect/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="../plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
    <script src="../plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script src="../plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>

    <script src="../plugins/moment/moment.js"></script>
    <script src="../plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="../plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="assets/pages/jquery.form-advanced.init.js"></script>   
        
    <!-- Page js  --> 
    <script src="assets/pages/jquery.dashboard.js"></script> 

    <!-- Custom main Js --> 
    <script src="assets/js/jquery.core.js"></script> 
    <script src="assets/js/jquery.app.js"></script> 
    <script src="../plugins/switchery/switchery.min.js"></script>  

    <script type="text/javascript">
    $(document).ready(function($) {
        $('.circliful-chart').circliful();
    });
    </script>
</body>
</html>