<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <ul class="list-inline float-right mb-0">
                            <li class="menu-item list-inline-item"> 
                                <!-- Mobile menu toggle--> 
                                <a class="navbar-toggle nav-link">
                                    <div class="lines"> <span></span> <span></span> <span></span> </div>
                                </a> 
                                    <!-- End mobile menu toggle--> 
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                            <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                            <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                      <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- All--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a><h4 class="m-0">TERMS OF SERVICE</h4></a>
                            </li>                           
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper mb-5 mb-lg-4 pb-5 pb-lg-0">
            <form>
                <div class="container" >
                <div class="card-box m-t-40">
                    <div class="m-t-0 header-title">
                        <span>Terms Of Service</span>
                    </div>
                    <div class="border p-4">
                        <span id="p_lt_zoneContent_pageplaceholder_p_lt_Contentzone_PCI_TermsOfService_txtDocumentText"><span class="font-weight-bold">TERMS OF USE “SERVICE AGREEMENT”</span><br><br>THIS
                         SERVICES PROVIDED WITHIN THIS WEBSITE ARE CONTROLLED BY THIS LEGAL 
                        DOCUMENT WHICH DETAILS YOUR RIGHTS AND OBLIGATIONS IN THIS AGREEMENT 
                        “SERVICE AGREEMENT”. THIS WEBSITE IS HEREBY PROVIDED TO YOU BY EITHER 
                        YOUR PROCESSING VENDOR, CREDIT CARD PROCESSOR, BANK, QUALIFIED SECURITY 
                        ASSESSOR (QSA), OR OTHER VENDOR FOR SUCH SERVICES (HEREAFTER “SERVICE 
                        PROVIDER”).&nbsp; BY VISITING THIS WEBSITE YOU HEREBY AGREE TO BE BOUND BY 
                        THE TERMS AND CONDITIONS OF THIS SERVICE AGREEMENT. IF YOU DO NOT AGREE,
                         PLEASE DO NOT USE OR ACCESS OUR WEBSITE. THE PCI WEBSITE AND RELATED 
                        SERVICES ARE OFFERED TO YOU CONDITIONED UPON YOUR ACCEPTANCE WITHOUT 
                        MODIFICATION OF THESE TERMS OF SERVICE. FROM TIME TO TIME, IT MAY BE 
                        NECESSARY FOR PROVIDER TO UPDATE OR REVISE CERTAIN PROVISIONS OF THE 
                        TERMS OF THIS SERVICE AGREEMENT. BY USING THIS WEBSITE OR BY ACCEPTING 
                        THIS SERVICE AGREEMENT VIA USE OF THE WEBSITE, YOU AGREE THAT THE TERMS 
                        OF THIS SERVICE AGREEMENT MAY CHANGE WITHOUT SPECIFIC NOTICE TO YOU. IF 
                        YOU DON'T AGREE TO THE CHANGES PROPOSED OR AS DEFINED ON THE WEBSITE, OR
                         TO ANY TERMS IN THIS SERVICE AGREEMENT, YOUR ONLY REMEDY IS TO CANCEL 
                        YOUR USE OF THE SERVICES OFFERED UNDER THIS SERVICE AGREEMENT. <br><br><span class="font-weight-bold">1. DESCRIPTION OF SERVICE </span><br>THIS
                         WEBSITE AND ASSOCIATED WEB PAGES OPERATES FOR PURPOSES OF THESE TERMS OF
                         THIS SERVICE AGREEMENT, WILL BE REFERRED TO AS THE 'PCI WEBSITE(S)'. 
                        THIS SERVICE (THE 'SERVICE') OFFERS YOU ACCESS TO THE PCI WEBSITES, 
                        WHICH PROVIDES YOU ACCESS TO A COLLECTION OF RESOURCES, INCLUDING, BUT 
                        NOT LIMITED TO, SERVICES TO ALLOW YOU TO ADDRESS PCI ISSUES, OTHER 
                        RELATED GOODS, OTHER RELATED SERVICES, SOFTWARE PROGRAMS, AND 
                        DOWNLOADABLE SERVICES. THE SERVICE OFFERS YOU ACCESS IN EXCHANGE FOR 
                        YOUR AGREEMENT TO ACCEPT AND COMPLY WITH THE TERMS, CONDITIONS, POLICIES
                         AND NOTICES STATED HERE AND AS MAY BE MODIFIED FROM TIME-TO-TIME 
                        WITHOUT NOTICE TO YOU. NOTWITHSTANDING THE FOREGOING, PROVIDER RESERVES 
                        THE RIGHT TO REJECT ANY REGISTRATION FOR SERVICE FOR ANY REASON. UNLESS 
                        EXPLICITLY STATED OTHERWISE, ANY NEW FEATURES OR PRODUCTS THAT CHANGE, 
                        AUGMENT OR ENHANCE THE CURRENT SERVICE SHALL BE SUBJECT TO THIS SERVICE 
                        AGREEMENT. THE SERVICES ARE DESIGNED AND PROVIDED TO YOU ONLY FOR USE AS
                         A TOOL TO HELP YOU COMPLETE YOUR PCI DSS COMPLIANCE PROCESS. AS SUCH, 
                        YOU UNDERSTAND AND AGREE THAT (I) ANY INFORMATION OBTAINED FROM THE 
                        SERVICES MAY NOT ACCURATELY DEFINE ALL YOUR REQUIREMENTS TO MEET FULL PCI
                         DSS COMPLIANCE (EVEN WITH A “COMPLIANT” STATUS AS RECORDED ON THE SITE 
                        IT IS UNDERSTOOD THAT ADDITIONAL STEPS MAY BE NECESSARY FOR YOUR 
                        SPECIFIC BUSINESS ENTITY TYPE TO REACH FULL PCI DSS COMPLIANCE, (II) 
                        THAT THE SERVICE OUTPUTS ARE ONLY AS GOOD AS THE INFORMATION ENTERED 
                        INTO THE WEBSITE FOR SERVICES, (III) THAT THE SERVICES ARE LIMITED TO THE
                         SELF-ASSESSMENT QUESTIONNAIRE (SAQ) AND THE I/P SCAN, AGAIN, THESE 
                        SERVICES MAY NOT BE ALL INCLUSIVE OF ALL THE REQUIRED STEPS YOU MUST 
                        TAKE TO MEET FULL PCI DSS COMPLIANCE FOR YOUR BUSINESS, AND (V) YOU IS 
                        SOLELY RESPONSIBLE AND LIABLE FOR USE OF THE SERVICES AND THE 
                        INFORMATION OBTAINS BY YOUR USE OF THE SERVICES. YOU FURTHER UNDERSTANDS
                         AND AGREE THAT THE SERVICES AND THE FEATURES AND FUNCTIONALITY OF 
                        INDIVIDUAL MODULES FOR THE SERVICES, ARE SUBJECT TO CHANGE. <br><br><span class="font-weight-bold">2. GENERAL USE OF THE PCI WEBSITE</span><br>YOU
                         PROMISE THAT YOU WILL NOT USE THE PCI WEBSITE OR THE SERVICE IN WHOLE 
                        OR IN PART, FOR ANY PURPOSE THAT IS UNLAWFUL OR PROHIBITED BY THIS 
                        SERVICE AGREEMENT. YOU AGREE THAT YOU WILL NOT MODIFY, COPY, DISTRIBUTE,
                         TRANSMIT, DISPLAY, PERFORM, REPRODUCE, PUBLISH, LICENSE, CREATE 
                        DERIVATIVE WORKS FROM, FRAME IN ANOTHER WEB PAGE, USE ON ANY OTHER 
                        WEBSITE, TRANSFER, OR SELL ANY INFORMATION, SOFTWARE, LISTS OF USERS, 
                        DATABASES OR OTHER LISTS, PRODUCTS OR SERVICES PROVIDED THROUGH OR 
                        OBTAINED FROM THE PCI WEBSITE. THIS MEANS, AMONG OTHER ACTIVITIES, THAT 
                        YOU AGREE NOT TO ENGAGE IN THE PRACTICES OF SCREEN SCRAPING, DATABASE 
                        SCRAPING, OR ANY OTHER ACTIVITY WITH THE PURPOSE OF OBTAINING LISTS OF 
                        USERS OR OTHER INFORMATION. YOU AGREE THAT YOU WILL NOT USE THE SERVICE 
                        IN ANY MANNER THAT COULD DAMAGE, DISABLE, OVERBURDEN, OR IMPAIR THE PCI 
                        WEBSITE OR INTERFERE WITH ANY OTHER PARTY'S USE AND ENJOYMENT OF THE PCI
                         WEBSITE. YOU MAY NOT OBTAIN OR ATTEMPT TO OBTAIN ANY MATERIALS OR 
                        INFORMATION THROUGH ANY MEANS NOT INTENTIONALLY MADE AVAILABLE OR 
                        PROVIDED FOR THROUGH THE PCI WEBSITE. EXCEPT WITH THE WRITTEN PERMISSION
                         OF THE PROVIDER, YOU AGREE THAT YOU WILL NOT ACCESS OR ATTEMPT TO 
                        ACCESS PASSWORD PROTECTED, SECURE OR NON-PUBLIC AREAS OF THE WEBSITE. 
                        UNAUTHORIZED INDIVIDUALS ATTEMPTING TO ACCESS PROHIBITED AREAS OF THE 
                        WEBSITE MAY BE SUBJECT TO PROSECUTION. <br><br><br><span class="font-weight-bold">3. REGISTRATION</span><br>IN
                         ORDER FOR YOU TO PARTICIPATE IN THE SERVICE, YOU WILL BE REQUIRED TO 
                        PROVIDE SPECIFIC INFORMATION ABOUT YOURSELF AND/OR YOUR BUSINESS. IF YOU
                         CHOOSE TO PARTICIPATE, YOU AGREE TO PROVIDE TRUE, ACCURATE AND COMPLETE
                         INFORMATION AND TO REFRAIN FROM IMPERSONATING OR FALSELY REPRESENTING 
                        YOUR AFFILIATION WITH ANY PERSON OR ENTITY. YOU AGREE AND ACKNOWLEDGE 
                        THAT DATA FROM THE REGISTRATION PROCESS IS USED TO SEND YOU INFORMATION 
                        ABOUT&nbsp; THE SERVICE, INCLUDING, BUT NOT LIMITED TO, THE USE OF YOUR EMAIL
                         ADDRESS FOR UPDATES, ALERTS FOR UPCOMING COMPLIANCE STEPS REQUIRING 
                        YOUR ATTENTION, NEWSLETTERS AND/OR OTHER NECESSARY COMMUNICATIONS. FOR 
                        MORE INFORMATION, REVIEW THE PCI PRIVACY POLICY THAT IS PART OF THIS 
                        AGREEMENT.&nbsp; A HYPERLINK CAN BE FOUND ON THE FOOTER OF THE WEBSITE FOR 
                        THE PRIVACY POLICY. <br><br><span class="font-weight-bold">4. THIRD PARTY CONTENT </span><br>THE
                         WEBSITE MAY CONTAIN CONTENT AND INFORMATION FROM THIRD PARTY PROVIDERS 
                        AND/OR LINKS TO THEIR WEBSITES ('THIRD PARTY CONTENT'). WE ARE NOT 
                        RESPONSIBLE FOR SUCH THIRD PARTY CONTENT, INCLUDING, WITHOUT LIMITATION,
                         ANY LINK CONTAINED IN SUCH CONTENT, OR ANY CHANGES OR UPDATES TO SUCH 
                        CONTENT. WE ARE PROVIDING THIRD PARTY CONTENT TO YOU ONLY AS A 
                        CONVENIENCE, AND THE INCLUSION OF SUCH CONTENT DOES NOT IMPLY 
                        ENDORSEMENT OF SUCH CONTENT OR THE AFFILIATE OR THE PROVIDER. YOU MAY BE
                         SUBJECT TO ADDITIONAL AND/OR DIFFERENT TERMS, CONDITIONS, AND PRIVACY 
                        POLICIES WHEN YOU USE THIRD PARTY SERVICES, CONTENT, SOFTWARE, OR SITES.
                         PROVIDER DOES RESERVE THE RIGHT TO REMOVE CONTENT THAT DOES NOT MEET 
                        STANDARDS, HOWEVER WE ARE NOT RESPONSIBLE FOR ANY FAILURE OR DELAY IN 
                        REMOVING SUCH MATERIAL. WE ARE NOT RESPONSIBLE FOR (I) THE TERMS AND 
                        CONDITIONS OF ANY TRANSACTION BETWEEN YOU AND ANY THIRD PARTY, (II) ANY 
                        INSUFFICIENCY OF OR PROBLEMS WITH ANY SUCH THIRD PARTY'S BACKGROUND, 
                        INSURANCE, CREDIT OR LICENSING, OR (III) THE QUALITY OF SERVICES 
                        PERFORMED BY ANY SUCH THIRD PARTY OR ANY OTHER LEGAL LIABILITY ARISING 
                        OUT OF OR RELATED TO THE PERFORMANCE OF SUCH SERVICES. (IV) ANY FEE 
                        CHARGED TO YOU BY A THIRD PARTY OR YOUR PROCESSOR OR BANK FOR SERVICES 
                        PROVIDED OR NOT PROVIDED BY THE WEBSITE.&nbsp; IN THE EVENT THAT YOU HAVE A 
                        DISPUTE WITH ANY SUCH THIRD PARTY, YOU RELEASE PROVIDER (AND ITS 
                        AFFILIATES, SUPPLIERS, AGENTS AND EMPLOYEES) FROM ANY AND ALL CLAIMS, 
                        DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE,
                         KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND 
                        UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES. <br><br><span class="font-weight-bold">5. DISCLAIMER OF WARRANTIES YOU EXPRESSLY UNDERSTAND AND AGREE THAT: </span><br>NEITHER
                         PARTY SHALL BE LIABLE TO THE OTHER PARTY OR TO ANY OTHER THIRD PARTY 
                        FOR ANY CONSEQUENTIAL, INDIRECT, SPECIAL, INCIDENTAL, RELIANCE, OR 
                        EXEMPLARY DAMAGES ARISING OUT OF OR RELATING TO THIS AGREEMENT OR THE 
                        SERVICE, WHETHER FORESEEABLE OR UNFORESEEABLE, AND WHETHER BASED ON 
                        BREACH OF ANY EXPRESS OR IMPLIED WARRANTY, BREACH OF CONTRACT, 
                        MISREPRESENTATION, NEGLIGENCE, STRICT LIABILITY IN TORT, OR OTHER CAUSE 
                        OF ACTION (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF DATA, 
                        GOODWILL, PROFITS, INVESTMENTS, USE OF MONEY, OR USE OF FACILITIES; 
                        INTERRUPTION IN USE OR AVAILABILITY OF DATA; STOPPAGE OF OTHER WORK OR 
                        IMPAIRMENT OF OTHER ASSETS; OR LABOR CLAIMS), EVEN IF SUCH PARTY HAS 
                        BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNDER NO CIRCUMSTANCES 
                        SHALL PROVIDER’S TOTAL LIABILITY TO YOU OR ANY THIRD PARTY ARISING OUT 
                        OF OR RELATED TO THIS AGREEMENT EXCEED THE AMOUNTS PAID BY YOU UNDER 
                        THIS AGREEMENT TO A MAXIMUM OF ONE THOUSAND DOLLARS ($1,000.00) 
                        REGARDLESS OF WHETHER ANY ACTION OR CLAIM IS BASED ON WARRANTY, 
                        CONTRACT, TORT OR OTHERWISE. <br><br><span class="font-weight-bold">6. PCI COMPLIANCE SOFTWARE LICENSES </span><br>THIS
                         WEBSITE PROVIDES YOU WITH A NON-EXCLUSIVE, NON-TRANSFERABLE, LIMITED 
                        LICENSE TO USE PROVIDER’S SOFTWARE, WHICH YOU AGREE TO USE IN ACCORDANCE
                         WITH THIS SERVICE AGREEMENT. YOU MAY NOT SUB-LICENSE, OR CHARGE OTHERS 
                        TO USE OR ACCESS, OUR SOFTWARE WITHOUT FIRST OBTAINING WRITTEN 
                        PERMISSION. ALL SOFTWARE IS OWNED BY PROVIDER AND/OR ITS SUPPLIERS AND 
                        IS PROTECTED TO THE MAXIMUM EXTENT PERMITTED BY COPYRIGHT LAWS AND 
                        INTERNATIONAL TREATY PROVISIONS. ANY REPRODUCTION, MODIFICATION OR 
                        REDISTRIBUTION OF THE SOFTWARE IS EXPRESSLY PROHIBITED, AND MAY RESULT 
                        IN SEVERE CIVIL AND CRIMINAL PENALTIES. THE SOFTWARE, ITS STRUCTURE, 
                        SEQUENCE AND ORGANIZATION AND SOURCE CODE ARE CONSIDERED TRADE SECRETS 
                        AND ITS SUPPLIERS AND ARE PROTECTED BY TRADE SECRET LAWS. WITHOUT 
                        LIMITED THE FOREGOING, COPYING OR REPRODUCING THE SOFTWARE TO ANY OTHER 
                        SERVER OR LOCATION FOR FURTHER REPRDUCTION OR REDISTRIBUTION IS 
                        EXPRESSLY PROHIBITED. YOU MAY NOT DECOMPILE OR DISASSEMBLE, REVERSE 
                        ENGINEER OR OTHERWISE ATTEMPT TO DISCOVER ANY SOURCE CODE CONTAINED IN 
                        ANY SOFTWARE PROVIDED HEREUNDER. <br><br><span class="font-weight-bold">7. INDEMNIFICATION </span><br>YOU
                         AGREE TO INDEMNIFY, DEFEND, AND HOLD HARMLESS PROVIDER, ITS EMPLOYEES, 
                        MEMBERS, DIRECTORS, MANAGERS, OFFICERS OR AGENTS FROM AND AGAINST ANY 
                        LOSS, LIABILITY, DAMAGE, PENALTY OR EXPENSE (INCLUDING ATTORNEYS' FEES, 
                        EXPERT WITNESS FEES AND COST OF DEFENSE) THEY MAY SUFFER OR INCUR AS A 
                        RESULT OF (I) ANY FAILURE BY YOU OR ANY EMPLOYEE, AGENT OR YOU OF YOU TO
                         COMPLY WITH THE TERMS OF THIS AGREEMENT; (II) ANY WARRANTY OR 
                        REPRESENTATION MADE BY YOU BEING FALSE OR MISLEADING; (III) ANY 
                        REPRESENTATION OR WARRANTY MADE BY YOU OR ANY EMPLOYEE OR AGENT OF YOU 
                        TO ANY THIRD PERSON OTHER THAN AS SPECIFICALLY AUTHORIZED BY THIS 
                        AGREEMENT, (IV) NEGLIGENCE OF YOU OR YOUR SUBCONTRACTORS, AGENTS OR 
                        EMPLOYEES, OR (V) ANY ALLEGED OR ACTUAL VIOLATIONS BY YOU OR YOUR 
                        SUBCONTRACTORS, EMPLOYEES OR AGENTS OF ANY GOVERNMENTAL LAWS, 
                        REGULATIONS OR RULES.<br><br><span class="font-weight-bold">8. COPYRIGHT AND TRADEMARK NOTICES </span><br>ALL
                         MATERIALS ON THE WEBSITE (AS WELL AS THE ORGANIZATION AND LAYOUT OF THE
                         WEBSITE) ARE OWNED AND COPYRIGHTED OR LICENSED BY AND TO THE PROVIDER, 
                        ITS AFFILIATES OR ITS SUPPLIERS. ALL RIGHTS RESERVED. NO REPRODUCTION, 
                        DISTRIBUTION, OR TRANSMISSION OF THE COPYRIGHTED MATERIALS AT THE PCI 
                        WEBSITE IS PERMITTED WITHOUT THE WRITTEN PERMISSION OF PROVIDER. ANY 
                        RIGHTS NOT EXPRESSLY GRANTED HEREIN ARE RESERVED. <br><br><span class="font-weight-bold">9. INTELLECTUAL PROPERTY</span><br>'INTELLECTUAL
                         PROPERTY' MEANS ALL OF THE FOLLOWING OWNED BY A PARTY: (I) TRADEMARKS 
                        AND SERVICE MARKS (REGISTERED AND UNREGISTERED) AND TRADE NAMES, AND 
                        GOODWILL ASSOCIATED THEREWITH; (II) PATENTS, PATENTABLE INVENTIONS, 
                        COMPUTER PROGRAMS, AND SOFTWARE; (III) DATABASES; (IV) TRADE SECRETS AND
                         THE RIGHT TO LIMIT THE USE OR DISCLOSURE THEREOF; (V) COPYRIGHTS IN ALL
                         WORKS, INCLUDING SOFTWARE PROGRAMS; AND (VI) DOMAIN NAMES. THE RIGHTS 
                        OWNED BY A PARTY IN ITS INTELLECTUAL PROPERTY SHALL BE DEFINED, 
                        COLLECTIVELY, AS 'INTELLECTUAL PROPERTY RIGHTS.' OTHER THAN THE EXPRESS 
                        LICENSES GRANTED BY THIS AGREEMENT, PROVIDER GRANTS NO RIGHT OR LICENSE 
                        TO YOU BY IMPLICATION, ESTOPPEL OR OTHERWISE TO ANY INTELLECTUAL 
                        PROPERTY RIGHTS. PROVIDER SHALL RETAIN ALL OWNERSHIP RIGHTS, TITLE, AND 
                        INTEREST IN AND TO ITS OWN PRODUCTS AND SERVICES AND ALL INTELLECTUAL 
                        PROPERTY RIGHTS THEREIN, SUBJECT ONLY TO THE RIGHTS AND LICENSES 
                        SPECIFICALLY GRANTED HEREIN. PROVIDER (AND NOT YOU) SHALL HAVE THE SOLE 
                        RIGHT, BUT NOT THE OBLIGATION, TO PURSUE COPYRIGHT AND PATENT 
                        PROTECTION, IN ITS SOLE DISCRETION, FOR ANY INTELLECTUAL PROPERTY RIGHTS
                         INCORPORATED THEREIN. YOU WILL COOPERATE WITH PROVIDER IN PURSUING SUCH
                         PROTECTION, INCLUDING WITHOUT LIMITATION EXECUTING AND DELIVERING TO 
                        PROVIDER SUCH INSTRUMENTS AS MAY BE REQUIRED TO REGISTER OR PERFECT 
                        PROVIDER'S INTERESTS IN ANY INTELLECTUAL PROPERTY RIGHTS AND ANY 
                        ASSIGNMENTS THEREOF. YOU SHALL NOT REMOVE OR DESTROY ANY PROPRIETARY, 
                        CONFIDENTIALITY, TRADEMARK, SERVICE MARK, OR COPYRIGHT MARKINGS OR 
                        NOTICES PLACED UPON OR CONTAINED IN ANY MATERIALS OR DOCUMENTATION 
                        RECEIVED FROM PROVIDER IN CONNECTION WITH THIS AGREEMENT.<br><br><span class="font-weight-bold">10. MODIFICATION </span><br>PROVIDER
                         RESERVES THE RIGHT AT ANYTIME AND FROM TIME TO TIME TO MODIFY, 
                        DISCONTINUE, TEMPORARILY OR PERMANENTLY, THE SERVICE (OR ANY PART 
                        THEREOF) WITH OR WITHOUT NOTICE. YOU AGREE THAT PROVIDER SHALL NOT BE 
                        LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY MODIFICATION, SUSPENSION OR 
                        DISCONTINUANCE OF THE SERVICE. <br><br><span class="font-weight-bold">11. TERMINATION AND CANCELLATION </span><br>EITHER
                         YOU OR PROVIDER MAY TERMINATE OR CANCEL THE SERVICE AT ANY TIME. YOU 
                        UNDERSTAND AND AGREE THAT THE CANCELLATION OF YOUR ACCOUNT IS YOUR SOLE 
                        RIGHT AND REMEDY WITH RESPECT TO ANY DISPUTE WITH PROVIDER. THIS 
                        INCLUDES, BUT IS NOT LIMITED TO, ANY DISPUTE RELATED TO, OR ARISING OUT 
                        OF: (1) ANY TERM OF THIS SERVICE AGREEMENT OR PROVIDER’S ENFORCEMENT OR 
                        APPLICATION OF ANY SUCH TERM; (2) ANY POLICY OR PRACTICE OF PROVIDER, 
                        INCLUDING PROVIDER’S PRIVACY POLICY AND ANTI SPAM POLICY, OR PROVIDER’S 
                        ENFORCEMENT OR APPLICATION OF THESE POLICIES; (3) THE CONTENT AVAILABLE 
                        THROUGH PROVIDER OR ANY CHANGE IN CONTENT PROVIDED THROUGH PROVIDER; OR 
                        (4) THE AMOUNT OR TYPE OF FEES, SURCHARGES, APPLICABLE TAXES, BILLING 
                        METHODS, OR ANY CHANGE TO THE FEES, APPLICABLE TAXES, SURCHARGES OR 
                        BILLING METHODS. ALL OTHER PROVISIONS OF THIS AGREEMENT WHICH MAY 
                        REASONABLY BE CONSTRUED AS SURVIVING SUCH TERMINATION WILL SURVIVE THE 
                        TERMINATION OF THIS AGREEMENT, INCLUDING, BUT NOT LIMITED TO PARAGRAPHS 
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, AND 11. <br><br><span class="font-weight-bold">12. GENERAL TERMS</span><br>IF
                         ANY PROVISION OF THIS AGREEMENT IS HELD BY A COURT OF COMPETENT 
                        JURISDICTION TO BE INVALID, VOID OR UNENFORCEABLE FOR ANY REASON, THE 
                        REMAINING PROVISIONS NOT SO DECLARED SHALL NEVERTHELESS CONTINUE IN FULL
                         FORCE AND EFFECT, BUT SHALL BE CONSTRUED IN A MANNER SO AS TO 
                        EFFECTUATE THE INTENT OF THIS AGREEMENT AS A WHOLE, NOTWITHSTANDING SUCH
                         STRICKEN PROVISION OR PROVISIONS. NO TERM OR PROVISION OF THIS 
                        AGREEMENT SHALL BE DEEMED WAIVED AND NO BREACH EXCUSED, UNLESS SUCH 
                        WAIVER OR CONSENT SHALL BE IN WRITING AND SIGNED BY THE PARTY CLAIMED TO
                         HAVE WAIVED OR CONSENTED. ANY CONSENT BY ANY PARTY TO, OR WAIVER OF, A 
                        BREACH BY THE OTHER PARTY, WHETHER EXPRESS OR IMPLIED, SHALL NOT 
                        CONSTITUTE CONSENT TO, WAIVER OF, OR EXCUSE FOR ANY DIFFERENT OR 
                        SUBSEQUENT BREACH. YOU MAY NOT ASSIGN THIS AGREEMENT WITHOUT THE WRITTEN
                         CONSENT OF PROVIDER. PROVIDER MAY ASSIGN THIS AGREEMENT IN ITS SOLE 
                        DISCRETION WITHOUT THE WRITTEN CONSENT OF YOU. THE SECTION HEADINGS 
                        CONTAINED IN THIS AGREEMENT ARE FOR CONVENIENT REFERENCE ONLY, AND SHALL
                         NOT IN ANY WAY AFFECT THE MEANING OR INTERPRETATION OF THIS AGREEMENT. 
                        THIS AGREEMENT, INCLUDING ALL SCHEDULES, EXHIBITS AND ATTACHMENTS 
                        THERETO, SETS FORTH THE ENTIRE AGREEMENT AND UNDERSTANDING OF THE 
                        PARTIES HERETO IN RESPECT OF THE SUBJECT MATTER CONTAINED HEREIN, AND 
                        SUPERSEDES ALL PRIOR AGREEMENTS, PROMISES, COVENANTS, ARRANGEMENTS, 
                        COMMUNICATIONS, REPRESENTATIONS OR WARRANTIES, WHETHER ORAL OR WRITTEN, 
                        BY ANY OFFICER, PARTNER, EMPLOYEE OR REPRESENTATIVE OF ANY PARTY HERETO.
                         THIS AGREEMENT SHALL BE BINDING UPON AND SHALL INURE ONLY TO THE 
                        BENEFIT OF THE PARTIES HERETO AND THEIR RESPECTIVE SUCCESSORS AND 
                        ASSIGNS. NOTHING IN THIS AGREEMENT, EXPRESS OR IMPLIED, IS INTENDED TO 
                        CONFER OR SHALL BE DEEMED TO CONFER UPON ANY PERSONS OR ENTITIES NOT 
                        PARTIES TO THIS AGREEMENT, ANY RIGHTS OR REMEDIES UNDER OR BY REASON OF 
                        THIS AGREEMENT. THIS AGREEMENT SHALL BE GOVERNED BY AND CONSTRUED IN 
                        ACCORDANCE WITH THE LAWS OF THE STATE OF COLORADO (IRRESPECTIVE OF ITS 
                        CHOICE OF LAW PRINCIPLES). THE PARTIES HEREBY AGREE THAT ANY SUIT TO 
                        ENFORCE ANY PROVISION OF THIS AGREEMENT OR ARISING OUT OF OR BASED UPON 
                        THIS AGREEMENT OR THE BUSINESS RELATIONSHIP BETWEEN THE PARTIES HERETO 
                        SHALL BE BROUGHT IN FEDERAL OR STATE COURT IN COLORADO. EACH PARTY 
                        HEREBY AGREES THAT SUCH COURTS SHALL HAVE EXCLUSIVE PERSONAL 
                        JURISDICTION AND VENUE WITH RESPECT TO SUCH PARTY.&nbsp; EACH PARTY HEREBY 
                        SUBMITS TO THE EXCLUSIVE PERSONAL JURISDICTION AND VENUE OF SUCH COURTS.
                         EACH PARTY HEREBY AGREES THAT SUCH COURTS SHALL HAVE EXCLUSIVE PERSONAL
                         JURISDICTION AND VENUE WITH RESPECT TO SUCH PARTY.&nbsp; EACH PARTY HEREBY 
                        SUBMITS TO THE EXCLUSIVE PERSONAL JURISDICTION AND VENUE OF SUCH COURTS.
                         SHOULD SUIT BE BROUGHT TO ENFORCE OR INTERPRET ANY PART OF THIS 
                        AGREEMENT, THE PREVAILING PARTY SHALL BE ENTITLED TO RECOVER ITS 
                        REASONABLE ATTORNEYS' FEES AND COSTS, INCLUDING EXPERT WITNESS FEES AND 
                        FEES ON ANY APPEAL. <br></span>
                    </div>
                </div>
                <div class="clearfix m-b-30">
                    <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-25 float-left">Back</button>
                </div>
                </div>
            </form>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                        <a href="termsOfService.html" class="mx-2">Terms Of Service</a>|
                        <a href="termsConditions.html" class="mx-2">ISO Terms & Conditions</a>|
                        <a href="privacyPolicy.html" class="mx-2">Privacy Policy</a>|
                        <a href="help.html" class="mx-2">Help</a>
                    </div>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
    </body>
</html>