<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>PCI Compiliance</title>
        <link href="../plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo m-t-5">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-large">Mersa Tech</span>
                        </a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom float-right">
                        <ul class="list-inline float-right mb-0">
                            <li class="menu-item list-inline-item"> 
                                <!-- Mobile menu toggle--> 
                                <a class="navbar-toggle nav-link">
                                    <div class="lines"> <span></span> <span></span> <span></span> </div>
                                </a> 
                                    <!-- End mobile menu toggle--> 
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="mdi mdi-bell noti-icon"></i> <span class="badge badge-pink noti-icon-badge">4</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview" x-placement="bottom-end" > 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                            <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                            <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                      <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                                    </a> 
                                      
                                    <!-- All--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all"> View All </a> 
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list"> <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end"> 
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-account"></i> <span>Profile</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-settings"></i> <span>Settings</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span> </a> 
                                      
                                    <!-- item--> 
                                    <a href="javascript:void(0);" class="dropdown-item notify-item"> <i class="mdi mdi-logout"></i> <span>Logout</span> </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu clearfix">
                            <li>
                                <a>VIEW PAST EMAILS</a>
                            </li>
                            <li class="has-submenu float-right">
                                <button onclick="location.href='communications.html'" type="button" class="btn btn-light waves-effect waves-light m-t-10 m-b-10">COM TAB</button>
                                <button onclick="location.href='index.html'" type="button" class="btn btn-light waves-effect waves-light m-t-10 m-b-10">DASHBOARD</button>
                            </li>                           
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        
        <div class="wrapper">
            <form>
                <div class="container" >
                <div class="card-box m-t-40">
                    <div class="m-t-0 header-title">
                        <span>EMAIL HISTORY <i class="ti-search"></i></span>
                    </div>
                    <div class="clearfix px-2 py-3">
                        <div class="row">
                            <input type="text" class="form-control m-r-15 w-25" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Email Set Name">
                            <button type="button" class="btn btn-primary btn-custom waves-effect waves-light w-lg m-l-15">Search</button>
                        </div>
                    </div>
                </div>
                <div class="card-box m-t-40">
                    <div class="m-t-0 header-title">
                        <span>FILTER <i class="ti-search"></i></span>
                    </div>
                    <div class="clearfix px-2 py-3">
                        <div class="row">
                            <div class="w-25">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret">Office/Agent</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">BestCard</a>
                                    <a class="dropdown-item" href="#">MAC USA</a>
                                </div>
                            </div>
                            <div class="m-l-15 w-25">
                                <button type="button" class="btn btn-info btn-block dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Rep
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">BestCard - IP76</a>
                                    <a class="dropdown-item" href="#">BestCard - MT76</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box table-bordered">
                    <div class="table-responsive">
                        <table id="datatable-editable" class="table table-bordered text-center table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Email Set</th>
                                <th>Group</th>
                                <th>Template</th>
                                <th>Data Sent</th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </div>
                </div>
            </form>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-10 text-center">©2018 PCI Compliance. All rights reserved
                        <a href="termsOfService.html" class="m-r-5">Terms Of Service</a>|
                        <a href="termsConditions.html" class="m-l-5 m-r-5">ISO Terms & Conditions</a>|
                        <a href="privacyPolicy.html" class="m-r-5 m-l-5">Privacy Policy</a>|
                        <a href="help.html" class="m-l-5">Help</a>
                    </div>
                </div>
            </div>         
        </footer>
                <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- EASY PIE CHART JS -->
        <script src="../plugins/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
        <script src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="assets/pages/easy-pie-chart.init.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="../plugins/jquery-knob/jquery.knob.js"></script>

        <!-- Circliful -->
        <script src="../plugins/jquery-circliful/js/jquery.circliful.min.js"></script>

        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <script>
            $(function() {
                $(".knob").knob();
                $('.circliful-chart').circliful();
            });
        </script>
    </body>
</html>